<h2 class="mt-4">Eintrag bearbeiten</h2>
<form>
  <div class="row mt-2">
    <div class="col">
      <label for="inputDate">Datum</label>
      <input type="date" id="inputDate" name="inputDate" aria-label="" class="form-control"
             [(ngModel)]="currentAttendance.date"
      >
    </div>
    <div class="col">
      <label for="inputStartTime">Von</label>
      <input type="time" id="inputStartTime" name="inputStartTime" aria-label="" class="form-control"
             [(ngModel)]="currentAttendance.startTime">
    </div>
    <div class="col">
      <label for="inputEndTime">Bis</label>
      <input type="time" id="inputEndTime" name="inputEndTime" aria-label="" class="form-control"
             [(ngModel)]="currentAttendance.endTime">
    </div>
    <div class="col-2">
      <label for="inputSemester">Semester</label>
      <select type="time" id="inputSemester" name="inputSemester" aria-label="" class="form-select"
              [(ngModel)]="currentAttendance.semester">
        <option *ngFor="let s of semester" [ngValue]="s">{{s}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <label for="inputDegreeCourse">Studiengang</label>
      <input type="text" id="inputDegreeCourse" name="inputDegreeCourse" aria-label="" class="form-control"
             [(ngModel)]="currentAttendance.degreeCourse" list="degreeCourses">
      <datalist id="degreeCourses">
        <option value="Angewandte Informatik (B.Sc.)">
        <option value="Advanced Media Technology (M.Eng.)">
        <option value="Angewandte Mathematik (B.Sc.)">
        <option value="Angewandte Mathematik (M.Sc.)">
        <option value="Angewandte Physik (B.Sc.)">
        <option value="Angewandte Physik (M.Sc.)">
        <option value="Bauingenieurwesen (B.Eng.)">
        <option value="Bio- und Umwelttechnik (M.Eng.)">
        <option value="BIS Elektrotechnik (Dipl.-Ing.)">
        <option value="BIS Maschinenbau (B.Eng.)">
        <option value="BIS Product Development & Manufacturing (M.Eng.)">
        <option value="BIS Wirtschaftsingenieurwesen (M.Eng.)">
        <option value="Business Administration (B.A.)">
        <option value="Business and Law in Accounting and Taxation (LL.B.)">
        <option value="Business and Law in Accounting and Taxation (LL.M.)">
        <option value="Controlling and Finance (M.A.)">
        <option value="Digital Business Management (B.Sc.)">
        <option value="Electrical Engineering - Connected Systems (M.Eng.)">
        <option value="Elektro- und Luftfahrttechnik (B.Eng.)">
        <option value="Elektrotechnik (B.Eng.)">
        <option value="Fahrzeugentwickl., Energietech. u. Produktionsplanung (M.Eng.)">
        <option value="Gesundheitökonomie (B.Sc.)">
        <option value="Immobilienmanagement (B.Eng.)">
        <option value="Informatik - Technische Systeme (B.Sc.)">
        <option value="Innenarchitektur (B.A.)">
        <option value="Interdisziplinäre Ingenieurwissenschaften (B.Eng.)">
        <option value="International Management (B.A.)">
        <option value="International Management (M.A.)">
        <option value="Internationales Wirtschaftsingenieurwesen (B.Eng.)">
        <option value="Kooperatives Ingenieurstudium Elektrotechnik (B.Eng.)">
        <option value="Kooperatives Ingenieurstudium Mechatronik (B.Eng.)">
        <option value="Kooperatives Ingenieurstudium Medientechnik (B.Eng.)">
        <option value="Management im Gesundheitswesen (M.A.)">
        <option value="Maschinenbau (B.Eng.)">
        <option value="Media and Communications Technology (M.Eng.)">
        <option value="Media Management (B.Sc.)">
        <option value="Medieninformatik (B.SC.)">
        <option value="Medientechnik (B.Eng.)">
        <option value="Medizintechnik (M.Sc.)">
        <option value="Mobilitäsmanagement (B.Eng.)">
        <option value="Physikalische Technik (B.Sc.)">
        <option value="Sales and Marketing Management (M.A.)">
        <option value="Umwelttechnik (B.Eng.)">
        <option value="Versicherungs- und Finanzwirtschaft (AIS) (B.Sc.)">
        <option value="Versicherungs- und Finanzwirtschaft (B.Sc.)">
        <option value="Versicherungs- und Finanzwirtschaft (M.Sc.)">
        <option value="Wirtschaftsinformatik (B.Sc.)">
        <option value="Wirtschaftsingenieurwesen (B.Eng.)">
        <option value="Keine Angabe">
        <option value="Sonstiges">
      </datalist>
    </div>
    <div class="col">
      <label for="inputFaculty">Fachbereich</label>
      <input type="text" name="inputFaculty" id="inputFaculty" aria-label="" class="form-control"
             [(ngModel)]="currentAttendance.faculty" list="faculties">
      <datalist id="faculties">
        <option value="Architektur und Bauingenieurwesen">
        <option value="Sozialwesen">
        <option value="Design Informatik Medien (DCSM)">
        <option value="Wiesbaden Business School">
        <option value="Ingenieurwissenschaften">
      </datalist>
    </div>
  </div>
  <div class="row mt-2">
    <label for="checkTopics">Themen</label>
    <div class="btn-group" id="checkTopics" role="group" aria-label="">
      <input type="checkbox" class="btn-check" id="checkMathBasis" name="checkMathBasis" autocomplete="off"
             [(ngModel)]="currentAttendance.mathBasic">
      <label class="btn btn-outline-secondary" for="checkMathBasis">Mathe Schulwissen</label><br>
      <input type="checkbox" class="btn-check" id="checkMathLow" name="checkMathLow" autocomplete="off"
             [(ngModel)]="currentAttendance.mathLow">
      <label class="btn btn-outline-secondary" for="checkMathLow">Mathe 1 u. 2 Sem</label><br>
      <input type="checkbox" class="btn-check" id="checkMathHigh" name="checkMathHigh" autocomplete="off"
             [(ngModel)]="currentAttendance.mathHigh">
      <label class="btn btn-outline-secondary" for="checkMathHigh">Mathe 3+ Sem</label><br>
      <input type="checkbox" class="btn-check" id="checkProgramming" name="checkProgramming" autocomplete="off"
             [(ngModel)]="currentAttendance.programming">
      <label class="btn btn-outline-secondary" for="checkProgramming">Programm.</label><br>
      <input type="checkbox" class="btn-check" id="checkPhysics" name="checkPhysics" autocomplete="off"
             [(ngModel)]="currentAttendance.physics">
      <label class="btn btn-outline-secondary" for="checkPhysics">Physik</label><br>
      <input type="checkbox" class="btn-check" id="checkChem" name="checkChem" autocomplete="off"
             [(ngModel)]="currentAttendance.chemistry">
      <label class="btn btn-outline-secondary" for="checkChem">Chemie</label><br>
      <input type="checkbox" class="btn-check" id="checkOrg" name="checkOrg" autocomplete="off"
             [(ngModel)]="currentAttendance.organizational">
      <label class="btn btn-outline-secondary" for="checkOrg">Orga.</label><br>
    </div>
    <div class="mt-4">
      <button (click)="updateAttendance()" class="btn btn-success">Speichern</button>
      <button (click)="deleteAttendance()" class="btn btn-danger float-end">Löschen</button>
    </div>
  </div>
</form>
