<h2 class="mt-4">Statistiken</h2>
<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title ">Besucher Übersicht</h4>
      <div #ContainerRef>
        <ngx-charts-bar-horizontal
          [view]="[ContainerRef.offsetWidth, 800]"
          [scheme]="colorSchemeBar"
          [results]="dailyChartData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        >
        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Verteilung Fragenthemen</h4>
      <div #ContainerRef>
        <ngx-charts-advanced-pie-chart
          [view]="[ContainerRef.offsetWidth, 400]"
          [scheme]="colorSchemePie"
          [results]="pieChartTypeData"
          [gradient]="gradient"
        >
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Verteilung Studiengänge</h4>
      <div #ContainerRef>
        <ngx-charts-advanced-pie-chart
          [view]="[ContainerRef.offsetWidth, 400]"
          [scheme]="colorSchemePie"
          [results]="pieChartDegreeCourseData"
          [gradient]="gradient"
        >
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Verteilung Fachbereiche</h4>
      <div #ContainerRef>
        <ngx-charts-advanced-pie-chart
          [view]="[ContainerRef.offsetWidth, 400]"
          [scheme]="colorSchemePie"
          [results]="pieChartFacultyData"
          [gradient]="gradient"
        >
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
<!--    <div class="card mt-4">-->
<!--      <div class="card-body">-->
<!--        <h4 class="card-title">Verteilung Tutoren</h4>-->
<!--        <div #ContainerRef>-->
<!--          <ngx-charts-advanced-pie-chart-->
<!--            [view]="[ContainerRef.offsetWidth, 400]"-->
<!--            [scheme]="colorSchemePie"-->
<!--            [results]="pieChartTutorData"-->
<!--            [gradient]="gradient"-->
<!--          >-->
<!--          </ngx-charts-advanced-pie-chart>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
